<div
  class="modal fade"
  id="changePasswordModal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold">Change Password</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <form id="changePasswordForm">
          <div class="mb-3">
            <label class="form-label fw-bold small">New Password</label>
            <input
              type="password"
              class="form-control"
              id="newPersonalPassword"
              required
              minlength="7"
            />
          </div>
          <div class="mb-3">
            <label class="form-label fw-bold small">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              id="confirmPersonalPassword"
              required
              minlength="7"
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary w-100 rounded-pill fw-bold"
          >
            Update Password
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
