   <footer class="footer text-center mt-5">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-4 mb-5 mb-lg-0 text-center">
              <h4 class="text-uppercase mb-4">About Us</h4>
              <p class="lead mb-0">
                Developers: Siri, Taylor, Lexi, Abby<br />
                We are building this project for our Senior Design class!
              </p>
            </div>
          </div>
        </div>
      </footer>

      <div class="copyright py-4 text-center text-white">
        <div class="container">
          <small>Copyright &copy; Senior Design</small>
        </div>
      </div>
    </div>